# Análise de dados - Microdados do ENEM 2021

O Dataset utilizado na análise pode ser encontrado no site do INEP

In [3]:
# Importando as bibliotecas a ser utilizadas

import pandas as pd

In [4]:
EndIn = 'Z:/Desenvolvimento/Machine Learning - Educação Superior/microdados_enem_2021/DADOS/MICRODADOS_ENEM_2021.csv'
EndOut = 'Z:/Desenvolvimento/Machine Learning - Educação Superior/resultado/D_Enem_2021.csv'

O conjunto de Microdados do ENEM 2021 é um conjunto grande de informação, contendo aproximadamente 1.5 GB de tamanho. 
Para importa-lo inteiramente para o projeto no Jypter Notebook, necessitaria de muito mais memória que meu dispositivo possuía. 
Logo, para identificar quais colunas eu precisaria para fazer a análise que pretendia, eu utilizei o parâmetro 
nrows = 10 do comando pd.read_csv.

In [5]:
#Importar apenas as 10 primeiras linhas do dataset, 

D_Enem_2021 = pd.read_csv(EndIn, sep=";",encoding="ISO-8859-1", nrows=10)
display(D_Enem_2021)

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,210053865474,2021,5,F,1,1,1,1,3,1,...,A,A,A,B,A,A,B,A,B,B
1,210052384164,2021,12,M,1,1,1,1,11,1,...,A,A,A,B,A,A,C,A,A,A
2,210052589243,2021,13,F,3,1,1,1,15,1,...,B,A,A,B,A,A,C,B,B,B
3,210052128335,2021,3,M,1,3,1,2,0,2,...,A,A,A,B,A,A,B,A,B,B
4,210051353021,2021,2,F,1,3,1,2,0,2,...,B,A,A,B,A,B,E,A,B,B
5,210052391248,2021,10,F,1,3,1,1,9,1,...,A,A,A,A,A,A,B,A,A,B
6,210052615524,2021,9,F,0,3,1,1,6,1,...,B,A,A,B,B,A,C,A,A,B
7,210054368957,2021,4,F,1,1,1,1,1,1,...,B,A,A,C,B,A,D,B,B,B
8,210053417016,2021,8,F,1,3,1,2,0,2,...,B,A,A,B,A,A,B,A,A,B
9,210051128744,2021,4,F,1,3,1,2,0,2,...,B,A,B,C,B,A,C,A,A,B

In [7]:
# Mostrar o nome das colunas do dataset, assim eu posso analisar quais colunas iria precisar
print(D_Enem_2021.columns)

Index(['NU_INSCRICAO', 'NU_ANO', 'TP_FAIXA_ETARIA', 'TP_SEXO',
       'TP_ESTADO_CIVIL', 'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO',
       'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO',
       'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC', 'CO_UF_ESC', 'SG_UF_ESC',
       'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC',
       'CO_MUNICIPIO_PROVA', 'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA',
       'SG_UF_PROVA', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC',
       'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT',
       'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH', 'TX_RESPOSTAS_LC',
       'TX_RESPOSTAS_MT', 'TP_LINGUA', 'TX_GABARITO_CN', 'TX_GABARITO_CH',
       'TX_GABARITO_LC', 'TX_GABARITO_MT', 'TP_STATUS_REDACAO',
       'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4',
       'NU_NOTA_COMP5', 'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004',
       'Q005', 'Q006', 'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013',
       'Q014', 'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022',
       'Q023', 'Q024', 'Q025'],
      dtype='object')

In [10]:
# Foram escolhidas as colunas do dataset que preciso analisar

Colunas = ['NU_INSCRICAO', 'NU_ANO', 'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC', 'CO_UF_PROVA',
           'CO_MUNICIPIO_PROVA','NO_MUNICIPIO_PROVA', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 
           'NU_NOTA_MT', 'NU_NOTA_REDACAO']

In [26]:
#Importar apenas colunas de interesse do dataset, 

openData = pd.read_csv(EndIn, sep=";",encoding="ISO-8859-1", usecols = Colunas,chunksize = 10 ** 6)
D_Enem_2021 = pd.DataFrame()
for row in openData:
    D_Enem_2021 = pd.concat([row,D_Enem_2021],ignore_index=True)
        
display(D_Enem_2021)

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_ESC,NO_MUNICIPIO_ESC,CO_MUNICIPIO_PROVA,NO_MUNICIPIO_PROVA,CO_UF_PROVA,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,NU_NOTA_REDACAO
0,210052362045,2021,NaN,NaN,1501808,Breves,15,345.1,348.2,427.4,455.6,420.0
1,210053356331,2021,NaN,NaN,2917706,Jaguarari,29,448.3,491.9,490.9,443.8,580.0
2,210052471992,2021,NaN,NaN,3557105,Votuporanga,35,485.6,556.9,549.4,616.3,560.0
3,210053722905,2021,NaN,NaN,2609600,Olinda,26,409.0,473.4,412.5,439.9,420.0
4,210052783001,2021,NaN,NaN,2408102,Natal,24,527.0,521.2,470.4,407.7,820.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3389827,210054386607,2021,3552205.0,Sorocaba,3552205,Sorocaba,35,409.9,503.2,435.7,502.9,700.0
3389828,210052896594,2021,NaN,NaN,2108603,Pinheiro,21,NaN,NaN,NaN,NaN,NaN
3389829,210054214996,2021,NaN,NaN,4313904,Panambi,43,NaN,NaN,NaN,NaN,NaN
3389830,210054105882,2021,NaN,NaN,4314902,Porto Alegre,43,510.8,476.0,551.9,416.6,780.0
3389831,210052894330,2021,NaN,NaN,2919553,Luís Eduardo Magalhães,29,NaN,360.1,377.2,NaN,0.0

In [27]:
# Verificar o uso de memória do computador ao importar o Dataset
D_Enem_2021.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3389832 entries, 0 to 3389831
Data columns (total 12 columns):
 #   Column              Dtype
---  ------              -----
 0   NU_INSCRICAO        int64
 1   NU_ANO              int64
 2   CO_MUNICIPIO_ESC    float64
 3   NO_MUNICIPIO_ESC    object
 4   CO_MUNICIPIO_PROVA  int64
 5   NO_MUNICIPIO_PROVA  object
 6   CO_UF_PROVA         int64
 7   NU_NOTA_CN          float64
 8   NU_NOTA_CH          float64
 9   NU_NOTA_LC          float64
 10  NU_NOTA_MT          float64
 11  NU_NOTA_REDACAO     float64
dtypes: float64(6), int64(4), object(2)
memory usage: 644.3 MB

In [28]:
# Filtrando dados so para Goiás
D_Enem_2021 = D_Enem_2021[D_Enem_2021['CO_UF_PROVA']==52]
D_Enem_2021.reset_index(inplace=True)
del D_Enem_2021['index']
display(D_Enem_2021)

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_ESC,NO_MUNICIPIO_ESC,CO_MUNICIPIO_PROVA,NO_MUNICIPIO_PROVA,CO_UF_PROVA,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,NU_NOTA_REDACAO
0,210054450179,2021,NaN,NaN,5210406,Itaberaí,52,468.0,413.7,437.4,465.9,560.0
1,210051995401,2021,NaN,NaN,5208707,Goiânia,52,NaN,NaN,NaN,NaN,NaN
2,210053212530,2021,NaN,NaN,5218805,Rio Verde,52,NaN,590.7,475.2,NaN,580.0
3,210051849511,2021,NaN,NaN,5208707,Goiânia,52,542.5,630.2,592.5,642.1,820.0
4,210052203218,2021,5208707.0,Goiânia,5208707,Goiânia,52,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
136910,210051203113,2021,NaN,NaN,5208707,Goiânia,52,NaN,NaN,NaN,NaN,NaN
136911,210053157787,2021,NaN,NaN,5208707,Goiânia,52,NaN,NaN,NaN,NaN,NaN
136912,210054149998,2021,NaN,NaN,5215231,Novo Gama,52,417.6,509.2,370.8,438.1,580.0
136913,210052571603,2021,NaN,NaN,5208707,Goiânia,52,NaN,NaN,NaN,NaN,NaN
136914,210052843940,2021,NaN,NaN,5220454,Senador Canedo,52,560.5,559.8,587.1,582.8,700.0

In [ ]:
# Quantos municipios diferetes tiveram provas 
D_Enem_2021.groupby('NO_MUNICIPIO_PROVA')['NO_MUNICIPIO_PROVA'].count()

In [29]:
# Quantas pessoas fizeram o enem em 2021 por município
DfMunProva = D_Enem_2021['NO_MUNICIPIO_PROVA']
DfMunProvaTotal = DfMunProva.value_counts()
DfMunProvaTotal

Goiânia                        38600
Anápolis                        9194
Aparecida de Goiânia            8474
Rio Verde                       4707
Trindade                        4023
Jataí                           3700
Valparaíso de Goiás             3540
Catalão                         3127
Formosa                         2988
Itumbiara                       2831
Águas Lindas de Goiás           2746
Luziânia                        2713
Senador Canedo                  2240
Caldas Novas                    2137
Planaltina                      2045
Uruaçu                          1837
Ceres                           1804
Goianésia                       1770
Mineiros                        1742
São Luís de Montes Belos        1706
Goiás                           1631
Porangatu                       1631
Inhumas                         1577
Posse                           1452
Cidade Ocidental                1337
Iporá                           1334
Jaraguá                         1332
Campos Belos                    1278
Morrinhos                       1273
Goianira                        1260
Itapaci                         1249
Novo Gama                       1206
Itaberaí                        1179
Quirinópolis                    1139
Santa Helena de Goiás           1058
Pires do Rio                    1027
Piracanjuba                     1002
Jussara                          963
Niquelândia                      899
Nerópolis                        893
Goiatuba                         861
Cristalina                       827
Silvânia                         821
Santo Antônio do Descoberto      793
Pirenópolis                      769
São Miguel do Araguaia           761
Itapuranga                       729
Acreúna                          724
Rubiataba                        663
Minaçu                           602
Ipameri                          508
Bom Jesus de Goiás               430
Alexânia                         420
Aragarças                        395
Alvorada do Norte                369
Padre Bernardo                   344
Mambaí                           255
Name: NO_MUNICIPIO_PROVA, dtype: int64

# Análise de dados - Censo Educacao Superior  2021

In [32]:
End_In = 'Z:/Desenvolvimento\Machine Learning - Educação Superior/microdados_censo_da_educacao_superior_2021/dados/MICRODADOS_CADASTRO_CURSOS_2021.CSV'
End_Out = 'Z:/Desenvolvimento/Machine Learning - Educação Superior/resultado/D_CensoEnsSup_2021.csv'

In [43]:
D_CensoEnsSup_2021 = pd.read_csv(End_In, sep=";",encoding="ISO-8859-1", nrows=10)

print(D_CensoEnsSup_2021.columns.tolist())

['NU_ANO_CENSO', 'NO_REGIAO', 'CO_REGIAO', 'NO_UF', 'SG_UF', 'CO_UF', 'NO_MUNICIPIO', 'CO_MUNICIPIO', 'IN_CAPITAL', 'TP_DIMENSAO', 'TP_ORGANIZACAO_ACADEMICA', 'TP_CATEGORIA_ADMINISTRATIVA', 'TP_REDE', 'CO_IES', 'NO_CURSO', 'CO_CURSO', 'NO_CINE_ROTULO', 'CO_CINE_ROTULO', 'CO_CINE_AREA_GERAL', 'NO_CINE_AREA_GERAL', 'CO_CINE_AREA_ESPECIFICA', 'NO_CINE_AREA_ESPECIFICA', 'CO_CINE_AREA_DETALHADA', 'NO_CINE_AREA_DETALHADA', 'TP_GRAU_ACADEMICO', 'IN_GRATUITO', 'TP_MODALIDADE_ENSINO', 'TP_NIVEL_ACADEMICO', 'QT_CURSO', 'QT_VG_TOTAL', 'QT_VG_TOTAL_DIURNO', 'QT_VG_TOTAL_NOTURNO', 'QT_VG_TOTAL_EAD', 'QT_VG_NOVA', 'QT_VG_PROC_SELETIVO', 'QT_VG_REMANESC', 'QT_VG_PROG_ESPECIAL', 'QT_INSCRITO_TOTAL', 'QT_INSCRITO_TOTAL_DIURNO', 'QT_INSCRITO_TOTAL_NOTURNO', 'QT_INSCRITO_TOTAL_EAD', 'QT_INSC_VG_NOVA', 'QT_INSC_PROC_SELETIVO', 'QT_INSC_VG_REMANESC', 'QT_INSC_VG_PROG_ESPECIAL', 'QT_ING', 'QT_ING_FEM', 'QT_ING_MASC', 'QT_ING_DIURNO', 'QT_ING_NOTURNO', 'QT_ING_VG_NOVA', 'QT_ING_VESTIBULAR', 'QT_ING_ENEM', 'QT_ING_AVALIACAO_SERIADA', 'QT_ING_SELECAO_SIMPLIFICA', 'QT_ING_EGR', 'QT_ING_OUTRO_TIPO_SELECAO', 'QT_ING_PROC_SELETIVO', 'QT_ING_VG_REMANESC', 'QT_ING_VG_PROG_ESPECIAL', 'QT_ING_OUTRA_FORMA', 'QT_ING_0_17', 'QT_ING_18_24', 'QT_ING_25_29', 'QT_ING_30_34', 'QT_ING_35_39', 'QT_ING_40_49', 'QT_ING_50_59', 'QT_ING_60_MAIS', 'QT_ING_BRANCA', 'QT_ING_PRETA', 'QT_ING_PARDA', 'QT_ING_AMARELA', 'QT_ING_INDIGENA', 'QT_ING_CORND', 'QT_MAT', 'QT_MAT_FEM', 'QT_MAT_MASC', 'QT_MAT_DIURNO', 'QT_MAT_NOTURNO', 'QT_MAT_0_17', 'QT_MAT_18_24', 'QT_MAT_25_29', 'QT_MAT_30_34', 'QT_MAT_35_39', 'QT_MAT_40_49', 'QT_MAT_50_59', 'QT_MAT_60_MAIS', 'QT_MAT_BRANCA', 'QT_MAT_PRETA', 'QT_MAT_PARDA', 'QT_MAT_AMARELA', 'QT_MAT_INDIGENA', 'QT_MAT_CORND', 'QT_CONC', 'QT_CONC_FEM', 'QT_CONC_MASC', 'QT_CONC_DIURNO', 'QT_CONC_NOTURNO', 'QT_CONC_0_17', 'QT_CONC_18_24', 'QT_CONC_25_29', 'QT_CONC_30_34', 'QT_CONC_35_39', 'QT_CONC_40_49', 'QT_CONC_50_59', 'QT_CONC_60_MAIS', 'QT_CONC_BRANCA', 'QT_CONC_PRETA', 'QT_CONC_PARDA', 'QT_CONC_AMARELA', 'QT_CONC_INDIGENA', 'QT_CONC_CORND', 'QT_ING_NACBRAS', 'QT_ING_NACESTRANG', 'QT_MAT_NACBRAS', 'QT_MAT_NACESTRANG', 'QT_CONC_NACBRAS', 'QT_CONC_NACESTRANG', 'QT_ALUNO_DEFICIENTE', 'QT_ING_DEFICIENTE', 'QT_MAT_DEFICIENTE', 'QT_CONC_DEFICIENTE', 'QT_ING_FINANC', 'QT_ING_FINANC_REEMB', 'QT_ING_FIES', 'QT_ING_RPFIES', 'QT_ING_FINANC_REEMB_OUTROS', 'QT_ING_FINANC_NREEMB', 'QT_ING_PROUNII', 'QT_ING_PROUNIP', 'QT_ING_NRPFIES', 'QT_ING_FINANC_NREEMB_OUTROS', 'QT_MAT_FINANC', 'QT_MAT_FINANC_REEMB', 'QT_MAT_FIES', 'QT_MAT_RPFIES', 'QT_MAT_FINANC_REEMB_OUTROS', 'QT_MAT_FINANC_NREEMB', 'QT_MAT_PROUNII', 'QT_MAT_PROUNIP', 'QT_MAT_NRPFIES', 'QT_MAT_FINANC_NREEMB_OUTROS', 'QT_CONC_FINANC', 'QT_CONC_FINANC_REEMB', 'QT_CONC_FIES', 'QT_CONC_RPFIES', 'QT_CONC_FINANC_REEMB_OUTROS', 'QT_CONC_FINANC_NREEMB', 'QT_CONC_PROUNII', 'QT_CONC_PROUNIP', 'QT_CONC_NRPFIES', 'QT_CONC_FINANC_NREEMB_OUTROS', 'QT_ING_RESERVA_VAGA', 'QT_ING_RVREDEPUBLICA', 'QT_ING_RVETNICO', 'QT_ING_RVPDEF', 'QT_ING_RVSOCIAL_RF', 'QT_ING_RVOUTROS', 'QT_MAT_RESERVA_VAGA', 'QT_MAT_RVREDEPUBLICA', 'QT_MAT_RVETNICO', 'QT_MAT_RVPDEF', 'QT_MAT_RVSOCIAL_RF', 'QT_MAT_RVOUTROS', 'QT_CONC_RESERVA_VAGA', 'QT_CONC_RVREDEPUBLICA', 'QT_CONC_RVETNICO', 'QT_CONC_RVPDEF', 'QT_CONC_RVSOCIAL_RF', 'QT_CONC_RVOUTROS', 'QT_SIT_TRANCADA', 'QT_SIT_DESVINCULADO', 'QT_SIT_TRANSFERIDO', 'QT_SIT_FALECIDO', 'QT_ING_PROCESCPUBLICA', 'QT_ING_PROCESCPRIVADA', 'QT_ING_PROCNAOINFORMADA', 'QT_MAT_PROCESCPUBLICA', 'QT_MAT_PROCESCPRIVADA', 'QT_MAT_PROCNAOINFORMADA', 'QT_CONC_PROCESCPUBLICA', 'QT_CONC_PROCESCPRIVADA', 'QT_CONC_PROCNAOINFORMADA', 'QT_PARFOR', 'QT_ING_PARFOR', 'QT_MAT_PARFOR', 'QT_CONC_PARFOR', 'QT_APOIO_SOCIAL', 'QT_ING_APOIO_SOCIAL', 'QT_MAT_APOIO_SOCIAL', 'QT_CONC_APOIO_SOCIAL', 'QT_ATIV_EXTRACURRICULAR', 'QT_ING_ATIV_EXTRACURRICULAR', 'QT_MAT_ATIV_EXTRACURRICULAR', 'QT_CONC_ATIV_EXTRACURRICULAR', 'QT_MOB_ACADEMICA', 'QT_ING_MOB_ACADEMICA', 'QT_MAT_MOB_ACADEMICA', 'QT_CONC_MOB_ACADEMICA']

In [44]:
# Foram escolhidas as colunas do dataset que preciso analisar

Colunas = ['NO_UF', 'SG_UF', 'CO_UF','NO_MUNICIPIO', 'CO_MUNICIPIO', 'IN_CAPITAL', 'TP_ORGANIZACAO_ACADEMICA', 'CO_IES', 
           'NO_CURSO', 'CO_CURSO', 'TP_MODALIDADE_ENSINO', 'TP_NIVEL_ACADEMICO', 'TP_GRAU_ACADEMICO', 'QT_MAT', 'QT_MAT_FEM', 
           'QT_MAT_MASC', 'QT_MAT_RESERVA_VAGA', 'QT_MAT_DIURNO', 'QT_MAT_NOTURNO', 'QT_MAT_FINANC', 'QT_MAT_APOIO_SOCIAL', 
           'QT_ING_0_17', 'QT_ING_18_24', 'QT_ING_25_29', 'QT_ING_30_34', 'QT_ING_35_39', 'QT_ING_40_49', 'QT_ING_50_59', 
           'QT_ING_60_MAIS', 'QT_ING', 'QT_INSCRITO_TOTAL', 'QT_VG_TOTAL', 'QT_ING_ENEM', 'QT_MAT_PROCESCPUBLICA', 
           'QT_MAT_PROCESCPRIVADA', 'QT_MAT_ATIV_EXTRACURRICULAR', 'QT_CURSO', 'QT_CONC']

In [45]:
#Importar apenas colunas de interesse do dataset, 

D_CensoEnsSup_2021 = pd.read_csv(End_In, sep=";",encoding="ISO-8859-1", usecols = Colunas, low_memory=False)
display(D_CensoEnsSup_2021)

,NO_UF,SG_UF,CO_UF,NO_MUNICIPIO,CO_MUNICIPIO,IN_CAPITAL,TP_ORGANIZACAO_ACADEMICA,CO_IES,NO_CURSO,CO_CURSO,...,QT_MAT_MASC,QT_MAT_DIURNO,QT_MAT_NOTURNO,QT_CONC,QT_MAT_FINANC,QT_MAT_RESERVA_VAGA,QT_MAT_PROCESCPUBLICA,QT_MAT_PROCESCPRIVADA,QT_MAT_APOIO_SOCIAL,QT_MAT_ATIV_EXTRACURRICULAR
0,NaN,NaN,NaN,NaN,NaN,NaN,1,1,Administração Pública,1113617,...,0,0,0,0,0,0,0,0,0,0
1,NaN,NaN,NaN,NaN,NaN,NaN,1,1,Ciências Naturais E Matemática,114386,...,0,0,0,0,0,0,0,0,0,0
2,NaN,NaN,NaN,NaN,NaN,NaN,1,1,Matemática,1357965,...,0,0,0,0,0,0,0,0,0,0
3,NaN,NaN,NaN,NaN,NaN,NaN,1,1,Pedagogia,105652,...,0,0,0,0,0,0,0,0,0,0
4,NaN,NaN,NaN,NaN,NaN,NaN,1,1,Tecnologia Educacional,1425400,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
444781,Santa Catarina,SC,42.0,Água Doce,4200408.0,0.0,1,953,Gestão Pública,1268553,...,1,0,0,0,0,0,1,0,0,0
444782,Santa Catarina,SC,42.0,Água Doce,4200408.0,0.0,1,953,Letras - Língua Portuguesa,1357716,...,0,0,0,0,0,0,0,0,0,0
444783,Santa Catarina,SC,42.0,Água Doce,4200408.0,0.0,1,953,Matemática,100724,...,1,0,0,1,0,0,1,0,0,0
444784,Santa Catarina,SC,42.0,Água Doce,4200408.0,0.0,1,953,Música,1190335,...,5,0,0,2,0,0,5,0,0,0
444785,Santa Catarina,SC,42.0,Água Doce,4200408.0,0.0,1,953,Pedagogia,96655,...,0,0,0,6,0,0,13,0,0,0

In [50]:
# Detectar e manipular valores ausentes

D_CensoEnsSup_2021.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16412 entries, 10747 to 27158
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   NO_UF                        16412 non-null  object
 1   SG_UF                        16412 non-null  object
 2   CO_UF                        16412 non-null  float64
 3   NO_MUNICIPIO                 16412 non-null  object
 4   CO_MUNICIPIO                 16412 non-null  float64
 5   IN_CAPITAL                   16412 non-null  float64
 6   TP_ORGANIZACAO_ACADEMICA     16412 non-null  int64
 7   CO_IES                       16412 non-null  int64
 8   NO_CURSO                     16412 non-null  object
 9   CO_CURSO                     16412 non-null  int64
 10  TP_GRAU_ACADEMICO            16402 non-null  float64
 11  TP_MODALIDADE_ENSINO         16412 non-null  int64
 12  TP_NIVEL_ACADEMICO           16412 non-null  int64
 13  QT_CURSO                     16412 non-null  int64
 14  QT_VG_TOTAL                  16412 non-null  int64
 15  QT_INSCRITO_TOTAL            16412 non-null  int64
 16  QT_ING                       16412 non-null  int64
 17  QT_ING_ENEM                  16412 non-null  int64
 18  QT_ING_0_17                  16412 non-null  int64
 19  QT_ING_18_24                 16412 non-null  int64
 20  QT_ING_25_29                 16412 non-null  int64
 21  QT_ING_30_34                 16412 non-null  int64
 22  QT_ING_35_39                 16412 non-null  int64
 23  QT_ING_40_49                 16412 non-null  int64
 24  QT_ING_50_59                 16412 non-null  int64
 25  QT_ING_60_MAIS               16412 non-null  int64
 26  QT_MAT                       16412 non-null  int64
 27  QT_MAT_FEM                   16412 non-null  int64
 28  QT_MAT_MASC                  16412 non-null  int64
 29  QT_MAT_DIURNO                16412 non-null  int64
 30  QT_MAT_NOTURNO               16412 non-null  int64
 31  QT_CONC                      16412 non-null  int64
 32  QT_MAT_FINANC                16412 non-null  int64
 33  QT_MAT_RESERVA_VAGA          16412 non-null  int64
 34  QT_MAT_PROCESCPUBLICA        16412 non-null  int64
 35  QT_MAT_PROCESCPRIVADA        16412 non-null  int64
 36  QT_MAT_APOIO_SOCIAL          16412 non-null  int64
 37  QT_MAT_ATIV_EXTRACURRICULAR  16412 non-null  int64
dtypes: float64(4), int64(30), object(4)
memory usage: 4.9+ MB

In [54]:
# Quando o conjunto de dados é grande, podemos contar o número de valores ausentes. 
# D_CensoEnsSup_2021.isnull().sum() # Retorna o número de valores ausentes para cada coluna.

#Para descartar linhas se houver algum valor NaN:
# df.dropna(axis = 0)

#Para descartar colunas se houver algum valor NaN:
# df.dropna(axis = 1)

# Para descartar colunas nas quais mais de 10% dos valores estão ausentes:
# df.dropna(thresh=len(df)*0.9, axis=1)

#https://www.insightlab.ufc.br/6-truques-do-pandas-para-impulsionar-sua-analise-de-dados/

In [55]:
# Filtrando dados so para Goiás

D_CensoEnsSup_2021 = D_CensoEnsSup_2021[D_CensoEnsSup_2021['CO_UF']==52]
D_CensoEnsSup_2021

,NO_UF,SG_UF,CO_UF,NO_MUNICIPIO,CO_MUNICIPIO,IN_CAPITAL,TP_ORGANIZACAO_ACADEMICA,CO_IES,NO_CURSO,CO_CURSO,...,QT_MAT_MASC,QT_MAT_DIURNO,QT_MAT_NOTURNO,QT_CONC,QT_MAT_FINANC,QT_MAT_RESERVA_VAGA,QT_MAT_PROCESCPUBLICA,QT_MAT_PROCESCPRIVADA,QT_MAT_APOIO_SOCIAL,QT_MAT_ATIV_EXTRACURRICULAR
10747,Goiás,GO,52.0,Abadia de Goiás,5200050.0,0.0,2,374,Administração,1321507,...,1,0,0,0,0,0,2,0,0,0
10748,Goiás,GO,52.0,Abadia de Goiás,5200050.0,0.0,2,374,Análise E Desenvolvimento De Sistemas,1431918,...,0,0,0,0,0,0,0,0,0,0
10749,Goiás,GO,52.0,Abadia de Goiás,5200050.0,0.0,2,374,Ciência Da Computação,1483593,...,0,0,0,0,0,0,0,0,0,0
10750,Goiás,GO,52.0,Abadia de Goiás,5200050.0,0.0,2,374,Ciência Econômica,1483587,...,1,0,0,0,0,0,1,0,0,0
10751,Goiás,GO,52.0,Abadia de Goiás,5200050.0,0.0,2,374,Ciências Contábeis,1410361,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27154,Goiás,GO,52.0,Águas Lindas de Goiás,5200258.0,0.0,2,1538,Gestão Pública,1211077,...,0,0,0,0,0,0,0,1,0,0
27155,Goiás,GO,52.0,Águas Lindas de Goiás,5200258.0,0.0,2,1538,Pedagogia,1210687,...,0,0,0,0,0,0,0,1,0,0
27156,Goiás,GO,52.0,Águas Lindas de Goiás,5200258.0,0.0,2,1846,Administração,1485051,...,0,0,0,0,0,0,1,1,0,0
27157,Goiás,GO,52.0,Águas Lindas de Goiás,5200258.0,0.0,2,1846,Negócios Imobiliários,1485162,...,0,0,0,0,0,0,0,1,0,0
27158,Goiás,GO,52.0,Águas Lindas de Goiás,5200258.0,0.0,2,1846,Pedagogia,1421004,...,0,0,0,0,0,0,0,0,0,0

In [56]:
# Digamos que você precise selecionar as colunas numéricas.

#D_CensoEnsSup_2021.select_dtypes(include='number').head()